name: MLflow CI Retraining

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train-and-build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: Install dependencies
      run: |
        pip install mlflow dagshub pandas scikit-learn matplotlib

    - name: Run MLflow Project
      working-directory: MLProject
      env:
        DAGSHUB_USER_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}
      run: |
        mlflow run .

    - name: Build Docker Image from MLflow Model
      working-directory: MLProject
      env:
        MLFLOW_TRACKING_URI: https://dagshub.com/reehandn/adult-mlflow.mlflow
      run: |
        mlflow models build-docker \
          --model-uri runs:/$(mlflow runs list --experiment-name "Adult Income Advanced Tuning" -o json | jq -r '.[0].run_id')/model \
          --name reehandn/adult-income-mlflow

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Push Docker Image
      run: |
        docker push reehandn/adult-income-mlflow
