name: MLflow CI Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train-and-build:
    runs-on: ubuntu-latest

    steps:
    - name: Set up job
      uses: actions/checkout@v3

    - name: Set up Python 3.12.7
      uses: actions/setup-python@v4
      with:
        python-version: "3.12.7"

    - name: Check Env
      run: python --version

    - name: Install dependencies
      run: |
        pip install mlflow scikit-learn pandas

    - name: Run MLflow Project
      run: |
        cd MLProject
        mlflow run .

    - name: Get latest MLflow run_id
      id: runid
      run: |
        echo "RUN_ID=$(ls mlruns/*/* | head -n 1 | cut -d'/' -f3)" >> $GITHUB_ENV

    - name: Upload artifact to GitHub
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-artifacts
        path: MLProject/mlruns

    - name: Build Docker Model
      run: |
        cd MLProject
        mlflow models build-docker \
          -m "runs:/${RUN_ID}/model" \
          -n yourdockerhubusername/adult-income-ml

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Push Docker Image
      run: |
        docker push yourdockerhubusername/adult-income-ml
